/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dcdcdc;
}
p{
  font-size:10px ;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.courses {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
 /* bordeline */
 margin-right:5%;
 margin-left: 5%;
 margin-bottom: 20px;
 padding-left:5Px;
 box-shadow: 5px 5px 20px gray;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.emtey {
  color: #aeaeae;
}

/*----------------
 Media queries
----------------- */
/* Mobile divices  */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* Tablet devices  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* footer */
