@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-part{
    background-color: blue;
    width:100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.top-left h1{
    font-size: 64px;
    color: #FFFFFF;
    width: 485px;
    height: 230px;
}
.button-link a{
    text-decoration: none;
    width: 190px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 10px 10px 12px;
    margin-left: 3px;
}
.button-link:hover span{
    color:black;
    transition: color 2s ease-in-out;
}
.button-link span, .button-work{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.top-right{
    overflow: hidden;

}
.top-right img{
    height: 438px;
    width: 650px;
    
  
}
.top-right:hover img{
  transform: scale(1.5);
  transition: transform 3s ease-in-out;
}

.players-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.players{
    width:60%;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 70px;
   

   
}
.player{
    height: 500px;
    width: 330px;
    padding-left:30px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 40px 0px #00000026;
   

}
.player img{
    width: 300px;
    height: 256px;
    margin-top: 20px;
}
.player h3{
    color:#18191F;
    width:300px;
    font-size: 28px;
    
}
.player p{
    width: 300px;
    font-size: 16px;
    line-height: 26px;
    color:#6C6C6C;

} 
/* hight light */
.mid-font {

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-font {
  width: 10em;
}
/* mid erea*/
.warning {
    border: 10px ridge rgb(90, 156, 232);
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 100%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}


/* animation affect on conntry name */
@keyframes colored {  
    
  from{
      color:red
  }
  to{
      color: royalblue;
  }
}
.date a{
    text-decoration: none;
    color:black; 
    animation: colored 2s linear 0.1s infinite ;
    
}

/* footer area css part */
footer{
  display: flex;
flex-direction: column;
align-items: center;
margin-top: 120px;
}
footer p{
  margin-left: 110px;
}
.football-logo img{
  width: 480px;
  height: 110px;
}
/* font awesome icons area */
.social-sites {
  display: flex;
  height: 32px;
  width: 32px;
}
.social-sites a{
 margin-right: 14px;
 color: #969BAB;
}

 /* resposible for mobile screen */
 @media only screen and (max-width: 600px){
.top-part{
          flex-direction: column;
          height: max-content;
      }
      .top-left h1{
          font-size: 30px;
          width: 250px;
          height: fit-content;
          
      }
      .top-right{
          margin-top: 40px;
      }
      .top-right img{
          width:250px;
          height: 250px;
      }
      .players{
          grid-template-columns: repeat(1,1fr);
       }
       .football-logo img{
           width: 300px;
       }
  }
   /* resposible for ipad,tab */
  @media only screen and (min-width: 601px) and (max-width: 992px){
      .top-part{
          width: max-content;
      }
      .top-left {
          padding-left: 150px;
  
      }
      .top-right img{
      width: 500px;        
      }
      .players{
          grid-template-columns: repeat(2,1fr);
       }
  }
/* footer */
 footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
footer p{
  margin-left: 110px;
}
.football-logo img{
  width: 480px;
  height: 110px;
}
/* font awesome icons area */
.social-sites {
  display: flex;
  height: 32px;
  width: 32px;
}
.social-sites a{
 margin-right: 14px;
 color: #969BAB;
}
